params {
    // Set flags to false by default
    ascp = false
    test = false
}

executor {
    name = 'local'
    cpus = 16
}

manifest {
    name = 'climb-covid/elan-ena-nextflow'
    author = 'Samuel Nicholls (@samstudio8)'
    description = 'A Nextflow pipeline for smoothly transferring fresh consensus sequences to ENA'
    mainScript = 'main.nf'
    nextflowVersion = '>=20.01.0'
    version = '0.1.5'
    defaultBranch = 'stable'
}
